*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    height: 10vh;
    margin: 10px;
    color: #f8fafc;
}
body{
    background-color: #0f172a;
    color: #e5e7eb;
}
.container{
    background-color: rgba(89, 80, 80, 0.15);
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 15px;
    
}

.game{
    width: 70vh;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

}

.box{
    height:18vh;
    width:18vh;
    border-radius: 1rem;
    font-size: 50px;
    background-color: #ebf0f5;
    opacity: 1;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #020617;
    cursor: pointer;
    user-select: none;
    padding: 3px;
    transition: 0.2s;
}

button.box.X{
    color: #0b3c5d;
}
button.box:contains("O"){
    color: #e36414;

}

#reset{
padding: 1rem;
font-size: 1.25rem;
background-color: #7630ed;
border-radius: 1rem;
align-items: center;
justify-content: center;
height: 5vh;
max-width: fit-content;
display: flex;
transition: 0.3s;
margin-top: 25px;
padding: 12px 25px;
color: #253373;
}

#reset:hover{
    background-color: #48cae4;
}

#new-btn{
      font-size: 1.25rem;
      background-color: #ffb703;
      color: rgb(136, 81, 13);
      border-radius: 1rem;
      padding: 1rem;
}
#new-btn:hover{
    background-color: #fb8500;
}
#msg{
    color: #d8b4fc;
    font-size:  8vmin; 
    font-weight: 600;
    margin-bottom: 10px;


}

.msg-container{
    text-align: center;
    height: 30vmin;
    background-color: #020617;
    
}
.hide{
    display: none;
}
/* .box.win{
    background-color: #5bc7e0;
    color: white;
} */